@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  /*   --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  /*   :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

#wrangler.hover-effect,
#slayer.hover-effect {
  color: white;
  font-size: 3rem;
}

.clampDefault {
  font-size: clamp(2rem, 0.5rem + 5vw, 3rem);
  line-height: 1.1;
}

.articleDiv {
  transform: translateX(-250%);
  transition: transform 1.5s ease-in-out;
}

.articleDiv.show {
  transform: translateX(0%);
}

.articleSecondaryDiv {
  transform: translateX(400%);
  transition: transform 2.5s ease-in-out;
}

.articleSecondaryDiv.show {
  transform: translateX(0%);
}

.articleTypeOne {
  transform: translateX(0%);
}

@layer base {
}
